* {
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

body {
    text-align: center;
}

#board {
    height: 500px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
}

#board > div {
    border: 2px solid black;
    height: 34%;
    width: 33%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 2rem;
}